<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">考勤系统</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/attendance/checkin">签到打卡</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/attendance/list">考勤记录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>